/* CSS Document */

body{
	padding:0;
	margin:0;
}
div, h1, h2, h3, h4, p, form, label, input, textarea, img, span{
	margin:0; padding:0;
}

ul{
	margin:0; 
	padding:0; 
	list-style-type:none;
	font-size:0;
}
.spacer{
	clear:both; 
	font-size:0; 
	line-height:0;
}
/*------------------------------------------------body--------------------*/

/*------------------------------------------------header--------------------*/
#headerMain{
	width:100%;
	background:url(/images/header_bg.gif) 0 0 repeat-x #6B1420;
	color:#D2C7A3;
}
#header{
	width:943px;
	margin:0 auto;
}
#header img.logo{
	float:left;
	display:block;
	width:236px;
	height:105px;
}
#header ul.nav{
	width:398px;
	height:30px;
	background:url(/images/top_nav_bg.gif) right top no-repeat;
	padding:76px 0 0 0;
	float:left;
}
#header ul.nav li{
	float:left;
	margin:0 3px 0 0;
	line-height:0;
	font-size:0;
}
#header ul.nav li a{
	display:block;
	background:url(/images/nav_bg.gif) 0 0 no-repeat;
	width:74px;
	height:30px;
    font-size:12px;
    font-weight:bold;
    line-height:30px;
	color:#000;
	background-color:inherit;
	text-decoration:none;
	text-align:center;
}
#header ul.nav li a:hover{
	background:url(/images/nav_bg_hover.gif) 0 0 no-repeat;
	color:#fff;
	background-color:inherit;
}
#header ul.nav li a.hover{
	display:block;
	background:url(/images/nav_bg_hover.gif) 0 0 no-repeat;
	width:74px;
	height:30px;
    font-size:12px;
    font-weight:bold;
    line-height:30px;
	color:#fff;
	background-color:inherit;
	text-decoration:none;
	text-align:center;
	cursor:text;
}
#header ul.nav li.noMargin{
	margin:0;
}
#header form{
	width:260px;
	height:45px;
	padding:42px 0 0 48px;
	background:url(/images/serch_icon.gif) 9px 42px no-repeat;
	float:left;
}
#header form input.txtBox{
	width:184px;
	height:19px;
	border-bottom:#D4D0C8 solid 1px;
	border-right:#D4D0C8 solid 1px;
	border-top:#808080 solid 1px;
	border-left:#808080 solid 1px;
	font:normal 10px/19px 宋体, Arial, Helvetica, sans-serif;
	color:#000;
	background-color:#fff;
	padding:0 0 0 14px;
	float:left;
}
#header form input.go{
	background:url(/images/btn_go.gif) 0 0 no-repeat;
	width:56px;
	height:21px;
	float:right;
	cursor:pointer;
	border:none;
	font:bold 12px/21px 宋体, Arial, Helvetica, sans-serif;
	color:#000;
	background-color:#93A04B;
}
#header form label{
	display:block;
	width:188px;
	height:18px;
	background:url(/images/adv_serch_bg.gif) 0 0 repeat-x;
	padding:0 0 0 12px;
	float:left;
}
#header form label a{
	font:bold 11px/18px 宋体, Arial, Helvetica, sans-serif;
	color:#fff;
	background-color:inherit;
	text-decoration:none;
}
#header form label a:hover{
	text-decoration:underline;
}
#header ul.sub{
	width:634px;
	height:41px;
	float:left;
}
#header ul.sub li{
	float:left;
	background:url(/images/sub_nav_div.gif) right top no-repeat;
	line-height:0;
	font-size:0;
}
#header ul.sub li a{
	padding:0 20px;
	font:normal 13px/41px 宋体, Arial, Helvetica, sans-serif;
	color:#CFCFCF;
	background-color:inherit;
	text-decoration:none;
}
#header ul.sub li a:hover{
	color:#93A04B;
	background-color:inherit;
}
#header ul.sub li a.first{
	padding:0 20px 0 0;
	font:normal 13px/41px 宋体, Arial, Helvetica, sans-serif;
	color:#CFCFCF;
	background-color:inherit;
	text-decoration:none;
}
#header ul.sub li a.first:hover{
	color:#93A04B;
	background-color:inherit;
}
#header ul.sub li.noImg{
	background-image:none;
}
#header h2{
	display:block;
	height:45px;
	float:left;
    font-size:24px;
    line-height:45px;
	color:#fff;
	background-color:inherit;
	margin:7px 0 0 0;
	width:942px;
}
#header h2 span{
	color:#F4E6A1;
	background-color:inherit;
}
#header p{
	float:left;
	font:normal 15px/24px 宋体, Arial, Helvetica, sans-serif;
	color:#D2C7A3;
	background-color:inherit;
	margin:0;
	width:942px;
}
#header p span.bg{
	color:#D2C7A3;
	background-color:#45060F;
}
#header a.more{
	background:url(/images/more_bg.gif) 0 0 no-repeat;
	float:right;
	width:57px;
	height:18px;
	font:bold 11px/18px 宋体, Arial, Helvetica, sans-serif;
	color:#1C0206;
	background-color:inherit;
	text-decoration:none;
	text-align:center;
	margin:0;
}
#header a.more:hover{
	color:#6B1420;
	background-color:inherit;
}
/*------------------------------------------------header--------------------*/

/*------------------------------------------------body--------------------*/
#bodyMainSub{
	width:100%;
	background:url(/images/bodyinside_bg.gif) 0 0 repeat-x #FAF8F1;
	padding:11px 0 0 0;
	color:#000;
}
#body{
	width:942px;
	margin:0 auto;
}
#test{
	width:264px;
	height:98px;
	border-right:#DED8C3 solid 4px;
	float:left;
	background:url(/images/test_bg.gif) 0 0 no-repeat;
	margin:0 14px 0 0;
	padding:14px 17px 0 25px;
}
#test h2{
	display:block;
	width:120px;
	height:14px;
	float:left;
	font:bold 18px/14px 宋体, Arial, Helvetica, sans-serif;
	color:#fff;
	background-color:inherit;
	margin:0 0 8px 0;
}
#test h3{
	display:block;
	width:120px;
	height:10px;
	float:left;
	font:bold 10px/10px 宋体, Arial, Helvetica, sans-serif;
	color:#fff;
	background-color:inherit;
	margin:0;
	padding:0;
	text-align:center;
}
#test p{
	width:136px;
	display:block;
	float:right;
	font:bold 10px/12px 宋体, Arial, Helvetica, sans-serif;
	color:#88816C;
	background-color:inherit;
	margin:13px 0 0 0;
}
#test p b{
	width:136px;
	display:block;
	font:bold 11px/12px 宋体, Arial, Helvetica, sans-serif;
	color:#333333;
	background-color:inherit;
	margin:0 0 5px 0;
}
#test p a.redLink{
	width:136px;
	display:block;
	font:bold 10px/12px 宋体, Arial, Helvetica, sans-serif;
	color:#821122;
	background-color:inherit;
	margin:0 0 5px 0;
	text-decoration:underline;
}
#test p a.redLink:hover{
	color:#821122;
	background-color:#E4E0D3;
}
#test p a.more2{
	display:block;
	background:url(/images/more_bg2.gif) 0 0 no-repeat;
	width:59px;
	height:16px;
	float:right;
	font:bold 10px/16px 宋体, Arial, Helvetica, sans-serif;
	color:#fff;
	background-color:inherit;
	text-decoration:none;
	text-align:center;
	margin:8px 0 0 0;
}
#test p a.more2:hover{
	color:#F4E6A1;
	background-color:inherit;
}
#info{
	width:259px;
	height:98px;
	border-right:#DED8C3 solid 4px;
	float:left;
	background:url(/images/test_bg.gif) 0 0 no-repeat;
	margin:0 14px 0 0;
	padding:14px 16px 0 30px;
}
#info h2{
	display:block;
	width:117px;
	height:14px;
	float:left;
	font:bold 18px/14px 宋体, Arial, Helvetica, sans-serif;
	color:#fff;
	background-color:inherit;
	margin:0 0 8px 0;
	padding:0 0 0 3px
}
#info h3{
	display:block;
	width:115px;
	height:10px;
	float:left;
	font:bold 10px/10px 宋体, Arial, Helvetica, sans-serif;
	color:#fff;
	background-color:inherit;
	margin:0;
	padding:0 0 0 5px;
/*	text-align:center;*/
}
#info p{
	width:136px;
	display:block;
	float:right;
	font:bold 10px/12px 宋体, Arial, Helvetica, sans-serif;
	color:#88816C;
	background-color:inherit;
	margin:13px 0 0 0;
}
#info p b{
	width:136px;
	display:block;
	font:bold 11px/12px 宋体, Arial, Helvetica, sans-serif;
	color:#333333;
	background-color:inherit;
	margin:0 0 5px 0;
}
#info p a.redLink{
	width:136px;
	display:block;
	font:bold 10px/12px 宋体, Arial, Helvetica, sans-serif;
	color:#821122;
	background-color:inherit;
	margin:0 0 5px 0;
	text-decoration:underline;
}
#info p a.redLink:hover{
	color:#821122;
	background-color:#E4E0D3;
}
#info p a.more3{
	display:block;
	background:url(/images/more_bg2.gif) 0 0 no-repeat;
	width:59px;
	height:16px;
	float:right;
	font:bold 10px/16px 宋体, Arial, Helvetica, sans-serif;
	color:#fff;
	background-color:inherit;
	text-decoration:none;
	text-align:center;
	margin:14px 0 0 0;
}
#info p a.more3:hover{
	color:#F4E6A1;
	background-color:inherit;
}
#support{
	width:260px;
	height:98px;
	float:left;
	background:url(/images/test_bg.gif) 0 0 no-repeat;
	margin:0;
	padding:14px 0 0 31px;
}
#support h2{
	display:block;
	width:100px;
	height:14px;
	float:left;
	font:bold 18px/14px 宋体, Arial, Helvetica, sans-serif;
	color:#fff;
	background-color:inherit;
	margin:0 0 8px 0;
	padding:0 0 0 8px
}
#support h3{
	display:block;
	width:100px;
	height:10px;
	float:left;
	font:bold 10px/10px 宋体, Arial, Helvetica, sans-serif;
	color:#fff;
	background-color:inherit;
	margin:0;
	padding:0 0 0 5px;
/*	text-align:center;*/
}
#support p{
	width:136px;
	display:block;
	float:right;
	font:bold 10px/12px 宋体, Arial, Helvetica, sans-serif;
	color:#88816C;
	background-color:inherit;
	margin:13px 0 0 0;
}
#support p b{
	width:136px;
	display:block;
	font:bold 11px/12px 宋体, Arial, Helvetica, sans-serif;
	color:#333333;
	background-color:inherit;
	margin:0 0 5px 0;
}
#support p a.redLink{
	width:136px;
	display:block;
	font:bold 10px/12px 宋体, Arial, Helvetica, sans-serif;
	color:#821122;
	background-color:inherit;
	margin:0 0 5px 0;
	text-decoration:underline;
}
#support p a.redLink:hover{
	color:#821122;
	background-color:#E4E0D3;
}
#support p a.more4{
	display:block;
	background:url(/images/more_bg2.gif) 0 0 no-repeat;
	width:59px;
	height:16px;
	float:right;
	font:bold 10px/16px 宋体, Arial, Helvetica, sans-serif;
	color:#fff;
	background-color:inherit;
	text-decoration:none;
	text-align:center;
	margin:8px 0 0 0;
}
#support p a.more4:hover{
	color:#F4E6A1;
	background-color:inherit;
}
#body2{
	width:634px;
	margin:13px 0 14px 0;
	float:left;
	overflow:hidden;
}
#body2 p.banner{
	display:block;
	background:url(/images/banner.gif) 0 0 no-repeat;
	width:73px;
	height:61px;
	padding:8px 0 12px 561px;
	margin:0;
}
#body2 p.banner a.join{
	display:block;
	background:url(/images/join.gif) 0 0 no-repeat;
	width:61px;
	height:61px;
	float:left;
}
#body2 p.banner a.join:hover{
	background:url(/images/join_hover.gif) 0 0 no-repeat;
}
#event{
	width:600px;
	border-right:#EAE7DA solid 4px;
	float:left;
	margin-top: 20px;
	margin-right: 27px;
	margin-bottom: 0;
	margin-left: 0;
}
#event h2{
	display:block;
	width:223px;
	height:31px;
	background:url(/images/latest_event.gif) 0 0 no-repeat;
	padding:0 0 0 37px;
	border-bottom:#D7CEB7 solid 1px;
	margin:0 0 17px 0;
}
#event p.eventTxt1{
	width:600px;
	font:normal 12px/21px 宋体, Arial, Helvetica, sans-serif;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 19px;
	padding-left: 0;
}
#event p.eventTxt1 span.red{
	font:bold 11px/10px 宋体, Arial, Helvetica, sans-serif;
	color:#6B1420;
	background-color:inherit;
	margin:0 0 12px 0;
	display:block;
	text-transform:uppercase;
}
#event p.eventTxt1 span.yellow{
	color:#B3770F;
	background-color:inherit;
	font:bold 12px/21px 宋体, Arial, Helvetica, sans-serif;
}
#event p.eventTxt2{
	width:600px;
	font:normal 20px/26px 宋体, Arial, Helvetica, sans-serif;
	color:#9D9478;
	background-color:inherit;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 22px;
	padding-left: 0;
}
#event p.eventTxt3{
	width:600px;
	font:normal 12px/21px 宋体, Arial, Helvetica, sans-serif;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 38px;
	padding-left: 0;
}
#event p.eventTxt3 span.yellow2{
	color:#B3770F;
	background-color:inherit;
	font:bold 12px/21px 宋体, Arial, Helvetica, sans-serif;
}
#blog{
	width:264px;
	float:left;
	border-right:#EAE7DA solid 4px;
	margin:20px 0 0 0;
	padding:0 25px 26px 0;
}
#blog h2{
	display:block;
	width:218px;
	height:31px;
	background:url(/images/blog_icon.gif) 0 0 no-repeat;
	padding:0 0 0 47px;
	border-bottom:#D7CEB7 solid 1px;
	margin:0 0 17px 0;
	float:left;
}
#blog p.blogTxt1{
	width:264px;
	font:normal 12px/21px 宋体, Arial, Helvetica, sans-serif;
	padding:0 0 2px 0;
	float:left;
}
#blog p.blogTxt1 span.red2{
	font:bold 11px/10px 宋体, Arial, Helvetica, sans-serif;
	color:#6B1420;
	background-color:inherit;
	margin:0 0 12px 0;
	display:block;
	text-transform:uppercase;
	width:264px;
}
#blog p.blogTxt1 span.yellow2{
	color:#B3770F;
	background-color:inherit;
	font:bold 12px/21px 宋体, Arial, Helvetica, sans-serif;
}
#blog a.more5{
	display:block;
	background:url(/images/more_bg3.gif) 0 0 no-repeat;
	width:57px;
	height:18px;
	font:bold 11px/18px 宋体, Arial, Helvetica, sans-serif;
	color:#1C0206;
	background-color:inherit;
	text-decoration:none;
	text-align:center;
	margin:0 0 13px 0;
	float:right;
}
#blog a.more5:hover{
	color:#6B1420;
	background-color:inherit;
}
#right{
	width:308px;
	float:right;
	margin:13px 0 0 0;
	overflow:hidden;
}
#rightform{
	width:264px;
	height:49px;
	background:url(/images/newsletter_bg.gif) 0 0 repeat-x #4C4C4C;
	color:#E2E2E2;
	padding:3px 22px 29px 22px;
}
#rightform label{
	display:block;
	width:260px;
	font:bold 13px/28px 宋体, Arial, Helvetica, sans-serif;
	float:left;
}
#rightform input.txtBox2{
	width:182px;
	height:19px;
	border-bottom:#D4D0C8 solid 1px;
	border-right:#D4D0C8 solid 1px;
	border-top:#404040 solid 1px;
	border-left:#404040 solid 1px;
	float:left;
	color:#000;
	background-color:#fff;
	font-size:10px;
	line-height:19px;
	padding:0 0 0 8px;
}
#rightform input.signup{
	background:url(/images/signup.gif) 0 0 no-repeat;
	width:65px;
	height:21px;
	font:bold 11px/21px 宋体, Arial, Helvetica, sans-serif;
	color:#1C0206;
	background-color:#4C4C4C;
	border:none;
	cursor:pointer;
	float:right;
}
#right h2{
	display:block;
	width:220px;
	height:31px;
	background:url(/images/service_icon.gif) 0 0 no-repeat;
	padding:0 0 0 48px;
	border-bottom:#D7CEB7 solid 1px;
	margin:21px 0 22px 0;
	float:right;
}
#right h3{
	display:block;
	width:220px;
	height:31px;
	background:url(/images/contact_icon.gif) 0 0 no-repeat;
	padding:0 0 0 48px;
	border-bottom:#D7CEB7 solid 1px;
	margin:21px 0 22px 0;
	float:right;
	font-family: 宋体, Arial, Helvetica, sans-serif;
	font-size: 24px;
}
#right p.rightTxt{
	width:272px;
	font:normal 12px/21px 宋体, Arial, Helvetica, sans-serif;
	color:#333333;
	background-color:inherit;
	padding:0 0 18px 0;
	float:right;
}
#right p.rightTxt span{
	width:272px;
	color:#B3770F;
	background-color:inherit;
	font:bold 12px/10px 宋体, Arial, Helvetica, sans-serif;
	margin:0 0 12px 0;
	display:block;
}
#right p.rightTxt a.green{
	color:#66731E;
	background-color:inherit;
	text-decoration:underline;
}
#right p.rightTxt a.green:hover{
	color:#000;
	background-color:#E4E1D7;
}
/*------------------------------------------------body--------------------*/

/*------------------------------------------------footer--------------------*/
#footerMain{
	width:100%;
	height:89px;
	background:url(/images/footer_bg.gif) 0 0 repeat-x #454545;
	padding:23px 0 0 0;
	color:#fff;
}
#footer{
	width:942px;
	margin:0 auto;
	position:relative;
	height:89px;
}
#footer ul.botNav{
	width:496px;
	position:absolute;
	left:-2px;
	top:-3px;
}
#footer ul.botNav li{
	float:left;
	font:normal 12px/26px 宋体, Arial, Helvetica, sans-serif;
	color:#fff;
	background-color:inherit;
}
#footer ul.botNav li a{
	padding:0 7px;
	font:normal 12px/26px 宋体, Arial, Helvetica, sans-serif;
	color:#fff;
	background-color:inherit;
	text-decoration:none;
}
#footer ul.botNav li a:hover{
	text-decoration:underline;
}
#footer ul.botNav li a.one{
	padding:0 7px 0 0;
	font:normal 12px/26px 宋体, Arial, Helvetica, sans-serif;
	color:#fff;
	background-color:inherit;
	text-decoration:none;
}
#footer ul.botNav li a.one:hover{
	text-decoration:underline;
}
#footer p.copyright{
	font:normal 12px/18px 宋体, Arial, Helvetica, sans-serif;
	position:absolute;
	left:0;
	top:19px;
	color:#B2C931;
	background-color:inherit;
	width:443px;
}
#footer p.design{
	display:block;
	width:206px;
	height:21px;
	padding:0;
	position:absolute;
	left:0;
	top:38px;
	font:bold 12px/21px 宋体, Arial, Helvetica, sans-serif;
	color:#E0981B;
	background-color:inherit;
}
#footer p.design a.link{
	font:bold 12px/21px 宋体, Arial, Helvetica, sans-serif;
	color:#E0981B;
	background-color:inherit;
	text-decoration:none;
}
#footer p.design a.link:hover{
	color:#000;
	background-color:#B2C931;
}
#footer a.xhtml{
	background:url(/images/xhtml_bg.gif) 0 0 no-repeat;
	width:95px;
	height:23px;
	float:left;
	font:bold 12px/23px 宋体, Arial, Helvetica, sans-serif;
	color:#1C0206;
	background-color:inherit;
	text-decoration:none;
	text-align:center;
	padding:0;
	margin:0;
	position:absolute;
	left:743px;
	top:0;
}
#footer a.xhtml:hover{
	color:#66731E;
	background-color:inherit;
}
#footer a.css{
	background:url(/images/xhtml_bg.gif) 0 0 no-repeat;
	width:95px;
	height:23px;
	float:right;
	font:bold 12px/23px 宋体, Arial, Helvetica, sans-serif;
	color:#1C0206;
	background-color:inherit;
	text-decoration:none;
	text-align:center;
	padding:0;
	margin:0;
	position:absolute;
	left:847px;
	top:0;
}
#footer a.css:hover{
	color:#66731E;
	background-color:inherit;
}
/*------------------------------------------------footer--------------------*/
#leftbody{
	width:590px;
	padding-right:10px;
	border-right:#EAE7DA solid 4px;
	float:left;
	margin-top: 20px;
	margin-right: 27px;
	margin-bottom: 0;
	margin-left: 0;
}
#leftbody h2{
	display:block;
	width:250px;
	height:31px;
	background:url(/images/latest_event.gif) 0 0 no-repeat;
	border-bottom:#D7CEB7 solid 1px;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 17px;
	margin-left: 0;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 37px;
}
#leftbody p.leftbodyTxt1{
	width:590px;
	font:normal 12px/21px 宋体, Arial, Helvetica, sans-serif;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 19px;
	padding-left: 0;
}
#leftbody p.leftbodyTxt1 span.red{
	font:bold 12px/21px 宋体, Arial, Helvetica, sans-serif;
	color:#6B1420;
	background-color:inherit;
	margin:0 0 12px 0;
	display:block;
	text-transform:uppercase;
}
#leftbody p.leftbodyTxt1 span.yellow{
	color:#B3770F;
	background-color:inherit;
	font:bold 12px/21px 宋体, Arial, Helvetica, sans-serif;
}
#leftbody p.leftbodyTxt2{
	width:590px;
	font:normal 20px/26px 宋体, Arial, Helvetica, sans-serif;
	color:#9D9478;
	background-color:inherit;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 22px;
	padding-left: 0;
}
#leftbody p.leftbodyTxt3{
	width:590px;
	font:normal 12px/21px 宋体, Arial, Helvetica, sans-serif;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 38px;
	padding-left: 0;
}
#leftbody p.leftbodyTxt3 span.yellow2{
	color:#B3770F;
	background-color:inherit;
	font:bold 12px/24px 宋体, Arial, Helvetica, sans-serif;
}
/*------------------------------------------------Contact--------------------*/

.linkpopup {
	position: relative;
	font-family: Verdana;
	font-size: 11px;
	color: #666600;
	height: 18px;
	width: 250px;
}

.linkpopup span {
 background-color: #ccc;
 border: 1px solid #000;
 display: block;
 left: 0;
 padding: .25em;
 position: absolute;
 top: -1.75em;
}

.linkpopup:link span,
.linkpopup:visited span {
 visibility: hidden;
}

.linkpopup:hover span,
.linkpopup:focus span,
.linkpopup:active span {
	color: #000000;
	text-decoration: none;
	visibility: visible;
	border: 1px solid #000000;
	background-color: #E6E9CF;
}
.linkpopupmessagebox {
	position: relative;
	font-family: Verdana;
	font-size: 11px;
	color: #1D859B;
	height: 170px;
	width: 310px;
}

.linkpopupmessagebox span {
 background-color: #ccc;
 border: 1px solid #000;
 display: block;
 left: 0;
 padding: .25em;
 position: absolute;
 top: -1.75em;
}

.linkpopupmessagebox:link span,
.linkpopupmessagebox:visited span {
 visibility: hidden;
}

.linkpopupmessagebox:hover span,
.linkpopupmessagebox:focus span,
.linkpopupmessagebox:active span {
 color: #000;
 text-decoration: none;
 visibility: visible;
}
/*------------------------------------------------Email--------------------*/

.linkpopupemail {
	position: relative;
	font-family: Verdana;
	font-size: 11px;
	color: #1D859B;
	height: 18px;
	width: 200px;
}

.linkpopupemail span {
 background-color: #ccc;
 border: 1px solid #000;
 display: block;
 left: 0;
 padding: .25em;
 position: absolute;
 top: -1.75em;
}

.linkpopupemail:link span,
.linkpopupemail:visited span {
 visibility: hidden;
}

.linkpopupemail:hover span,
.linkpopupemail:focus span,
.linkpopupemail:active span {
	color: #000;
	text-decoration: none;
	visibility: visible;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
}
/*------------------------------------------------Email--------------------*/
.contactTxt{
	display:block;
	width:600px;
	font-size:12px;
	line-height:20px;
	font-weight:normal;
	color:#646464;
	background-color:#FFF9E5;
	color:#5A5A5A;
	border:#D6CEB3 solid 1px;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 15px;
	margin-left: 0;
}
.errortext {
	font-family: Verdana;
	font-size: 10px;
	color: #FF0000;
}

.contactMain{
	width:590px;
	float:left;
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	border: 1px solid #929F4B;
	background-color: #E6E9CF;
	height: 500px;
}
..bestcontactTxt2{
	width:100%;
	padding:0 0 20px 0;
	font:normal 16px/24px 宋体, Arial, Helvetica, sans-serif;
	color:#363636;
	background-color:#fff;
	display:block;
	float:left;
}.contactformsubmit {

	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	height: 20px;
	width: 50%;
	float: left;
	margin: 3px;
	padding: 3px;
	top: 1px;
	clip: rect(1px,auto,auto,auto);
	clear: none;
	right: 30px;
	position:absolute;
	left:119px;
}
/*------------------------------------------------Contact--------------------*/
.contactformfield {
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	height: 20px;
	width: 70%;
	float: left;
	margin: 3px;
	padding: 3px;
	top: 1px;
	clip: rect(1px,auto,auto,auto);
	clear: none;
	right: 30px;
}
.contactsubmit {
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	background-attachment: scroll;
	background-image: url(/images/submitbg.gif);
	background-repeat: repeat-x;
	background-position: center center;
	clip: rect(auto,auto,auto,auto);
	float: left;
	margin: 5px;
	padding: 5px;
	left: auto;
	top: auto;
	right: auto;
	bottom: auto;
	width: 500px;
	border: 1px solid #666600;
}

.contactformmessage {
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	height: 170px;
	width: 70%;
	float: left;
	margin: 3px;
	padding: 3px;
}
.contactbox {
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	border: 1px solid #CCCCCC;
	height: 18px;
}
.contactmessagebox {

	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	border: 1px solid #CCCCCC;
	height: 170px;
}
.contacttextarea {
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	margin: 3px;
	padding: 3px;
}
.contacttext {
	margin: 3px;
	padding: 3px;
	height: 18px;
	width: 100px;
	float: left;
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
}
.contactsubmitbutton {
	font-family: Verdana;
	font-size: 11px;
	color: #FFFFFF;
	background-attachment: fixed;
	background-image: url(/images/btn_login.gif);
	background-repeat: no-repeat;
	background-position: center center;
	height: 18px;
	width: 55px;
}

.contacttextleft {
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	float: left;
	width: 540px;
}
.contactindicatestext {
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	margin: 3px;
	padding: 3px;
	height: 20px;
	width: 550px;
	float: left;
}

.star {
	font-family: Verdana;
	font-size: 11px;
	color: #FF0000;
	margin: 3px;
	padding: 3px;
	height: 5px;
	width: 5px;
}


.contacterrortext {
	margin: 3px;
	padding: 3px;
	height: 18px;
	width: 10px;
	float: left;
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
}
.buttonbg {
	background-attachment: scroll;
	background-image: url(/images/buttonbg.gif);
	background-repeat: repeat-x;
	background-position: center center;
	border: 1px solid #FF9900;
	height: 21px;
	font-family: Verdana;
	color: #FFFFFF;
}

/*------------------------------------------------Contact--------------------*/
.submitbutton
 {
	font-family: Verdana;
	font-size: 11px;
	color: #ffffff;
	background-attachment: scroll;
	background-image: url(/images/read_more_bg.gif);
	background-repeat: no-repeat;
	background-position: center center;
	clip: rect(auto,auto,auto,auto);
	float: left;
	margin: 5px;
	padding: 5px;
	left: auto;
	top: auto;
	right: auto;
	bottom: auto;
	width: 50px;
}
.submittext {
	height: 30px;
	width: 550px;
}

#submitbutton a.more{
	background:url(/images/more_bg.gif) 0 0 no-repeat;
	float:right;
	width:57px;
	height:18px;
	font:bold 11px/18px 宋体, Arial, Helvetica, sans-serif;
	color:#1C0206;
	background-color:inherit;
	text-decoration:none;
	text-align:center;
	margin:0;
}
#submitbutton a.more:hover{
	color:#6B1420;
	background-color:inherit;
}
.subbtn {
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	background-attachment: scroll;
	background-image: url(/images/submitbg.gif);
	background-repeat: repeat-x;
	background-position: center center;
	border: 1px solid #E6E9CF;
	margin: 2px;
	padding: 2px;
	height: 25px;
}
/*------------------------------------------------Textboxon Email--------------------*/

.borderEffect
{
background-color:#FFFFCC;
color:#7A8639;
margin:0px;
padding:0px;
border:1px solid #FFCC00;
}
.borderEffect:hover
{
background-color:#FFCC89;
color:#A05A3D;
margin:0px;
padding:0px;
border:1px solid #A05A3D;
}
/*------------------------------------------------Textbox on Email--------------------*/
/*------------------------------------------------Textbox --------------------*/

.textboxEffect
{
	background-color:#FFFFFF;
	color:#000000;
	border:1px solid #999999;
	height: 18px;
	width: 250px;
	font-family: Verdana;
	font-size: 11px;
	line-height: 19px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 11px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	float: left;
}
.textboxEffect:hover
{
background-color:#FFFFFF;
color:#929F4B;
margin:0px;
padding:0px;
border:1px solid #7A8639;
	font-family: Verdana;
	font-size: 11px;
	line-height: 19px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 11px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
}
/*------------------------------------------------Textbox --------------------*/
/*------------------------------------------------Textboxdropdown --------------------*/

.dropdownEffect
{
	background-color:#FFFFFF;
	color:#000000;
	border:1px solid #999999;
	height: 18px;
	width: 262px;
	font-family: Verdana;
	font-size: 11px;
	line-height: 19px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 11px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	float: left;
}
.dropdownEffect:hover
{
background-color:#FFFFFF;
color:#929F4B;
margin:0px;
padding:0px;
border:1px solid #7A8639;
	font-family: Verdana;
	font-size: 11px;
	line-height: 19px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 11px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
}
/*------------------------------------------------Textboxdropdown --------------------*/
/*------------------------------------------------Massagebox --------------------*/

.MassageboxEffect
{
	background-color:#FFFFFF;
	color:#000000;
	border:1px solid #999999;
	height: 170px;
	width: 350px;
	font-family: Verdana;
	font-size: 11px;
	line-height: 19px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 11px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	float: left;
}
.MassageboxEffect:hover
{
background-color:#FFFFFF;
color:#929F4B;
margin:0px;
padding:0px;
border:1px solid #7A8639;
	font-family: Verdana;
	font-size: 11px;
	line-height: 19px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 11px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
}
/*------------------------------------------------Massagebox --------------------*/
.contactdropdownformfield {
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	height: 20px;
	width: 68%;
	float: left;
	margin: 3px;
	top: 1px;
	clip: rect(1px,auto,auto,auto);
	clear: none;
	right: 30px;
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 5px;
}
.submitbuttonarea {
	margin: 5px;
	float: left;
	height: 50px;
	width: 300px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 110px;
}
