.info, .info span a
{
    position: relative;
    color: #7E7E7E;
}
.info:hover, .infoh, .info:hover span a
{
    position: relative;
    color: Red;
}
.info div
{
    display: none;
}
.info:hover div, .infoh div
{
    display: block;
    width: 107px; /*height: 119px;*/
    background: #000000;
    filter: alpha(opacity=70);
    opacity: 0.7;
    border: 1px solid #000000;
    left: 174px;
    top: -1px;
    position: absolute;
    z-index: 999;
}

.info div a
{
    color: #FFFFFF;
    text-decoration: none;
}

.info div a:hover
{
    color: Orange;
}

.img_1
{
    width: 197px;
    height: 144px;
    float: left;
    filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
}

.img_1:hover, .img1h
{
    width: 197px;
    height: 144px;
    float: left;
    filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=0);
}

.img_2
{
    width: 197px;
    height: 144px;
    float: left;
    margin-left: 2px;
    filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
}

.img_2:hover, .img2h
{
    width: 197px;
    height: 144px;
    float: left;
    margin-left: 2px;
    filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=0);
}

.img_3
{
    width: 197px;
    height: 144px;
    float: left;
    margin-left: 2px;
    filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
}

.img_3:hover, .img3h
{
    width: 197px;
    height: 144px;
    float: left;
    margin-left: 2px;
    filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=0);
}

.img_4
{
    width: 197px;
    height: 144px;
    float: left;
    margin-left: 2px;
    filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
}

.img_4:hover, .img4h
{
    width: 197px;
    height: 144px;
    float: left;
    margin-left: 2px;
    filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=0);
}

/*Banners Main*/
.silbo{
float:left;
width:794px;
margin-bottom:-1px;
z-index:-2;
}
.silbo-slide{
height:210px;
width:794px;
z-index:-2;
}
.silbo-slide #SlidePlayer{
position:relative;
margin:0 auto;
}
.silbo-slide .Slides{
padding:0;
margin:0;
list-style:none;
height:210px;
overflow:hidden;
z-index:-2;
}
.silbo-slide .Slides li{
float:left;
height:210px;
width:794px;
z-index:-2;
}
.silbo-slide .Slides img{
border:0;
display:block;
width:794px;
height:210px;
z-index:-2;
}
.silbo-slide .SlideTriggers{
margin:0;
padding:0;
list-style:none;
position:absolute;
top:180px;
right:8px;
z-index:10;
height:25px;
}
.silbo-slide .SlideTriggers li{
float:left;
display:inline;
color:#74a8ed;
text-align:center;
line-height:16px;
width:16px;
height:16px;
font-family:Arial;
font-size:.9em;
cursor:pointer;
overflow:hidden;
margin:3px 2px;
background:url(../Images/slide_trigger.gif) no-repeat center center;
}
.silbo-slide .SlideTriggers li.Current{
color:#fff;
background:url(../Images/slide_trigger_c.gif) no-repeat center center;
border:0;
font-weight:bold;
font-size:1.1em;
line-height:21px;
height:21px;
width:21px;
margin:0 6px;}